DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET="access secret"
JWT_EXPIRES_IN='360d'
JWT_REFRESH_SECRET='refresh secret'
JWT_REFRESH_EXPIRES_IN='30d'

# Server
PORT=4500
NODE_ENV=development

# Admin
DEV_NAME="your name"
DEV_EMAIL="your email"
DEV_PASSWORD="your password"
# DISABLE_ADMIN_SIGNUP=false

# Cloudinary
CLOUDINARY_CLOUD_NAME="name"
CLOUDINARY_API_KEY="key"
CLOUDINARY_API_SECRET="secret"